header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
	border-bottom: 1px solid black;
}

.active {
  background: rgb(132, 19, 198);
  color: white;
}