<div class="product" [attr.units-available]="product.unitAvailable">
  <div class="product--image">
    <!-- <img
      [src]="product.image"
      [alt]="product.name"  
    > -->
    <img
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseleave()"
      [attr.src]="product.image"
      [alt]="product.name"
      [style]="productImageStyle"
    />
    <!-- [class]="'border-btn'" -->
  </div>
  <div class="product--info">
    <h1 class="product--info__title">{{ product.name | uppercase }}</h1>
    <h3>{{product.date | date:'longDate'}}</h3>

    <ng-container [ngSwitch]="product.category">

      <p *ngSwitchCase="'skincare'" [ngStyle]="{color: 'red'}">{{product.category}}</p>

      <p *ngSwitchCase="'cosmetics'" [ngStyle]="{color: 'blue'}">{{product.category}}</p>
      
      <p *ngSwitchCase="'perfumes'" [ngStyle]="{color: 'green'}">{{product.category}}</p>

    </ng-container>

    <p class="product--info__description">{{ product.description }}</p>
    <div class="product--info__price">
      <h1>{{product.price | number | currency}}</h1>
    </div>
  </div>
  <div class="product--actions">
    <button
      (click)="buyProduct()"
      [disabled]="!(product.unitAvailable > 1)"
      class="product--actions__btn buy"
    >
      BUY
    </button>
    <button 
      (click)="addToCart()"
      class="product--actions__btn add">+ CART</button>
  </div>
</div>

<form 
  [style.display]="!formState ? 'none': 'flex'"
  class="form"
>
  <h2>Datos de compra</h2>
  <label for="address">Direccion</label>
  <input 
    [(ngModel)]="address"
    type="text" 
    name="address" 
    id="address"
  >
  <label for="postalCode">Codigo Postal</label>
  <input 
    [(ngModel)]="postalCode"
    type="number" name="postalCode" id="postalCode"
  >
  <div class="actions">
    <button (click)="orderProduct()">ORDER</button>
  </div>
</form>